<h3>Header</h3>
<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <NavLink> Home </NavLink>
            </li>
            <li class="list-inline-item">
                <NavLink href="movies"> Movies </NavLink>
            </li>
            <li class="list-inline-item">
                
                <NavLink> People </NavLink>
            </li>
        </ul>


    </div>
</div>
@code {

}
