<div class="container" style="max-width: 1100px">
    <div class="row">
        <div class="title">MyMDB</div>
    </div>
    <div class="row">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <NavLink href="/"> Home </NavLink>
            </li>
            <li class="list-inline-item">
                <NavLink href="movies"> Movies </NavLink>
            </li>
            <li class="list-inline-item">
                
                <NavLink> People </NavLink>
            </li>
        </ul>


    </div>
</div>
@code {

}
