@using Microsoft.IdentityModel.Tokens
<div class="col m-1 p-1 title-box">
    <div class="row p-0">
        <h6 class="h6 m-0">@Title.OriginalTitle
            <small class="text-muted">
                Type: @Title.Type, 
                @if (Title.StartYear is not null)
                {
                    <span>Year: @Title.StartYear, </span>
                }
                @if (!string.IsNullOrWhiteSpace(Title.Genres))
                {
                    <span>Genres: @Title.Genres</span>
                }
                
            </small>
        </h6>
    </div>
</div>

@code {
    [Parameter]
    public TitleBasicInfo Title { get; set; }  
}
