@inherits LayoutComponentBase

<div class="container-fluid">
    
    <div class="container-fluid shadow-sm">
        <div class="row justify-content-center">
            <Header></Header>
        </div>
    </div>

    <main class="row justify-content-center">

        <article class="content px-4" style="max-width: 1100px">
            @Body
        </article>
    </main>
</div>