@inherits LayoutComponentBase

<div class="container-fluid">

    <div class="row">
        <Header></Header>
    </div>

    <main class="row">

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>